# Copernicus Data Space Ecosystem (Sentinel-1 / Sentinel-2)
CDSE_USERNAME=tmanas67166@gmail.com
CDSE_PASSWORD=Manas@852006

# NASA Earthdata (GPM IMERG, NASADEM)
EARTHDATA_USERNAME=wowcr7madrid@gmail.com
EARTHDATA_PASSWORD=nasaData@123
CDSE_S3_ACCESS_KEY=CEBQ61182KHYJ4N4KYLO
CDSE_S3_SECRET_KEY=MuALf5WiOJK1gIlb8aqQJoUgQCv6EgAXHDlTEC5N